
<div
  *ngFor="let element of formTemplateElements; let index = index"
  (click)="getFormElementIndex($event)"
  [ngClass]="activeElementIndex == index ? 'active' : ''"
  class="form_template__element"
  [attr.data-index]="index"
  [cdkDragData]="element"
  cdkDrag
>
  <div
    class="input_group"
    *ngIf="element === 'Textarea'"
    [attr.data-index]="index"
  >
    <label>{{fieldsStyles[index]?.hasOwnProperty('label') ? fieldsStyles[index].label : ''}}</label>
    <textarea
      [attr.data-index]="index"
      [ngStyle]="fieldsStyles[index]"
      class="isFullWidth"
      placeholder="{{fieldsStyles[index]?.hasOwnProperty('placeholder') ? fieldsStyles[index].placeholder : 'Your textarea'}}"></textarea>
  </div>
  <div
    class="input_group"
    *ngIf="element === 'Input'"
    [attr.data-index]="index"
  >
    <label>{{fieldsStyles[index]?.hasOwnProperty('label') ? fieldsStyles[index].label : ''}}</label>
    <input
      [attr.data-index]="index"
      type="text"
      [ngStyle]="fieldsStyles[index]"
      placeholder="{{fieldsStyles[index]?.hasOwnProperty('placeholder') ? fieldsStyles[index].placeholder : 'Your input'}}"
      class="isFullWidth"
    >
  </div>
  <div
    class="input_group"
    *ngIf="element === 'Select'"
    [attr.data-index]="index"
  >
    <label>{{fieldsStyles[index]?.hasOwnProperty('label') ? fieldsStyles[index].label : ''}}</label>
    <select
      [attr.data-index]="index"
      class="isFullWidth"
      [ngStyle]="fieldsStyles[index]"
    >
      <option value="{{option}}" *ngFor="let option of fieldsStyles[index].options">{{option}}</option>
    </select>
  </div>
  <div
    class="input_group"
    *ngIf="element === 'Checkbox'"
    [attr.data-index]="index"
  >
    <p class="text_center"
       style="
        {{fieldsStyles[index]?.hasOwnProperty('title') ? '' : 'display: none;'}}
        {{fieldsStyles[index]?.hasOwnProperty('color') ? 'color: ' + fieldsStyles[index].color + ';' : ''}}
        {{fieldsStyles[index]?.hasOwnProperty('fontSize') ? 'font-size: ' + fieldsStyles[index].fontSize + ';' : ''}}
        {{fieldsStyles[index]?.hasOwnProperty('fontWeight') ? 'font-weight: ' + fieldsStyles[index].fontWeight + ';' : ''}}
       "
    >{{fieldsStyles[index]?.hasOwnProperty('title') ? fieldsStyles[index].title : ''}}</p>
    <input
      name="checkbox_{{index}}"
      [attr.data-index]="index"
      type="checkbox"
      [ngStyle]="fieldsStyles[index]"
    >
    <label
      class="checkbox_label"
      for="checkbox_{{index}}"
      style="
        {{fieldsStyles[index]?.hasOwnProperty('color') ? 'color: ' + fieldsStyles[index].color + ';' : ''}}
        {{fieldsStyles[index]?.hasOwnProperty('fontSize') ? 'font-size: ' + fieldsStyles[index].fontSize + ';' : ''}}
        {{fieldsStyles[index]?.hasOwnProperty('fontWeight') ? 'font-weight: ' + fieldsStyles[index].fontWeight + ';' : ''}}
       "
    >{{fieldsStyles[index]?.hasOwnProperty('label') ? fieldsStyles[index].label : 'checkbox label'}}</label>
  </div>
  <div
    class="input_group isFlex flex-center"
    *ngIf="element === 'Button'"
    [attr.data-index]="index"
  >
    <button
      [attr.data-index]="index"
      [ngStyle]="fieldsStyles[index]"
    >{{fieldsStyles[index]?.hasOwnProperty('label') ? fieldsStyles[index].label : 'Button'}}</button>
  </div>

</div>
