<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false"
                     [hideToggle]="true"
>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Form General Styling
    </mat-panel-title>
    <mat-panel-description>
      {{panelOpenState ? 'close' : 'open'}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form [formGroup]="myForm" (ngSubmit)="submitFormStyles()">
    <div class="input_group">
      <mat-form-field class="isFullWidth" appearance="fill">
        <mat-label>Form Label</mat-label>
        <input id="label" formControlName="label" matInput>
      </mat-form-field>
    </div>

    <div class="input_group isFlex" style="gap: 1rem">
      <mat-form-field class="flex-1" appearance="fill">
        <mat-label>Text Color</mat-label>
        <input matInput [ngxMatColorPicker]="pickerText" formControlName="color">
        <ngx-mat-color-toggle matSuffix [for]="pickerText"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #pickerText [color]="colorPick"></ngx-mat-color-picker>
      </mat-form-field>
      <mat-form-field class="flex-1" appearance="fill">
        <mat-label>Background</mat-label>
        <input matInput [ngxMatColorPicker]="pickerBackground" formControlName="background">
        <ngx-mat-color-toggle matSuffix [for]="pickerBackground"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #pickerBackground [color]="colorPick"></ngx-mat-color-picker>
      </mat-form-field>
    </div>

    <div class="input_group isFlex" style="gap: 1rem">
      <mat-form-field class="flex-1" appearance="fill">
        <mat-label>Border type</mat-label>
        <mat-select formControlName="borderStyle" id="borderStyle">
          <mat-option value="dotted">Dotted</mat-option>
          <mat-option value="dashed">Dashed</mat-option>
          <mat-option value="solid">Solid</mat-option>
          <mat-option value="none">None</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="flex-1" appearance="fill">
        <mat-label>Border Color</mat-label>
        <input matInput [ngxMatColorPicker]="pickerBorderColor" formControlName="borderColor">
        <ngx-mat-color-toggle matSuffix [for]="pickerBorderColor"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #pickerBorderColor [color]="colorPick"></ngx-mat-color-picker>
      </mat-form-field>
    </div>
    <div class="input_group isFullWidth isFlex flex-center">
      <button mat-raised-button color="primary">Apply</button>
    </div>
  </form>
</mat-expansion-panel>
