<div class="form_builder" cdkDropListGroup>
  <div class="styles_settings">
    <mat-accordion>
      <app-form-styles></app-form-styles>
      <app-field-styles
        [elementIndex]="clickedElementIndex"
      ></app-field-styles>
    </mat-accordion>
  </div>
  <div class="form_template__wrapper">
    <div class="form_template"
         style="border-radius: 5px"
         [ngStyle]="formStylesSelect$ | async">
      <p>{{formStylesSelectorObs.hasOwnProperty('label') ? formStylesSelectorObs.label : 'Form label'}}</p>
      <app-template
        class="form_template__elements"
        cdkDropList
        [cdkDropListData]="formTemplateMap$ | async"
        (cdkDropListDropped)="drop($event)"
        [formTemplateElements]="formTemplateMap$ | async"
        (clickedElementIndex)="getClickedElementIndex($event)"
        [activeElementIndex]="clickedElementIndex"
        [fieldsStyles]="formElementsStylesSelector"
        [id]="'cdk-drop-list-0'"
      ></app-template>
    </div>
    <div class="isFlex flex-center flex-wrap gap" style="margin-top: 20px; margin-bottom: 20px">
      <button
        (click)="saveMap()"
        class="flex-1"
        mat-raised-button
        color="primary"
      >Save</button>
      <a
        class="flex-1"
        mat-raised-button
        color="primary"
        title="Download JSON"
        [href]="downloadJsonHref"
        download="MyForm.json"
      >Download</a>
      <form class="isFullWidth load_data_form" [formGroup]="fileUploadForm">
        <p class="text_center">Load form data</p>
        <p class="text_center">{{fileUploadForm.controls['fileUpload'].value}}</p>
        <app-file-upload formControlName="fileUpload" class="isFlex isFullWidth"></app-file-upload>
      </form>
    </div>
  </div>
  <app-blocks
    cdkDropList
    [cdkDropListData]="formElementsList"
    [formElementsList]="formElementsList"
    (cdkDropListExited)="exited($event)"
    (cdkDropListEntered)="entered($event)"
    [cdkDropListEnterPredicate]="block"
    (cdkDropListDropped)="drop($event)"
    [id]="'cdk-drop-list-1'"
  ></app-blocks>
</div>
