.form_builder{
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
  align-items: flex-start;
  & > *{
    flex: 1;
    border-radius: 5px;
    border: 2px solid #c2d6e1;
  }
}
.form_template__wrapper{
  border: none !important;
}
.load_data_form{
  margin-top: 20px;
  border: 2px solid #c2d6e1;
  border-radius: 5px;
  padding: 10px 20px;
  p{
    font-size: 20px;
    color: #172933;
  }
}
.form_template{
  padding-top: 1rem;
  &>p{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .form_template__elements{
    min-height: 50px;
    display: block;
  }
}
.form_template{
  border: 2px solid #C2D6E1;
}
.styles_settings{
  overflow: hidden;
  .mat-accordion .mat-expansion-panel{
    border-radius: 0 !important;
  }
  .mat-expansion-panel-header-description{
    display: flex !important;
    justify-content: flex-end !important;
    margin-right: 0;
  }
  #mat-expansion-table{
    box-shadow: none;
  }
  .mat-expansion-panel-spacing{
    margin: 0;
  }
  app-form-styles .mat-expansion-panel{
    border-bottom: 2px solid #c2d6e1;
  }
}

.saved_success_notification{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem 4rem;
  border-bottom: none !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  font-size: 20px;
  background: #4bb543;
  color: white;
  -webkit-box-shadow: 0px 5px 34px 9px rgba(192, 192, 198, 1);
  -moz-box-shadow: 0px 5px 34px 9px rgba(192, 192, 198, 1);
  box-shadow: 0px 5px 34px 9px rgba(192, 192, 198, 1);
  animation: fromBottom 3s ease forwards;
}
@keyframes fromBottom {
  0%{
    transform: translateX(-50%) translateY(110%);
  }
  25%{
    transform: translateX(-50%) translateY(0%);
  }
  75%{
    transform: translateX(-50%) translateY(0%);
  }
  100%{
    transform: translateX(-50%) translateY(110%);
  }
}
