<div class="form_wrapp">
  <p>Login Form</p>
  <form *ngIf="!isLoggedIn"
        name="form" (ngSubmit)="f.form.valid && onSubmitLogin()" #f="ngForm" novalidate
  >
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input name="username" [(ngModel)]="form.username" required #username="ngModel" matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input name="password" type="password" [(ngModel)]="form.password" required #password="ngModel" matInput>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!f.form.valid">Log in</button>
  </form>
</div>
