<mat-expansion-panel class="expansion_model_element_styles" (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false" [expanded]="panelOpenState" [hideToggle]="true" >
  <mat-expansion-panel-header>
    <mat-panel-title>
      Field Styles
    </mat-panel-title>
    <mat-panel-description>
      {{panelOpenState ? 'close' : 'open'}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form [formGroup]="myForm"  class="fields_styles_form active_check {{isActive ? '' : 'is_active_false'}}">
    <div class="close_modal" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </div>
    <div class="input_group isFlex">
      <mat-form-field *ngIf="elementTag=='Checkbox'" class="isFullWidth" appearance="fill">
        <mat-label>Title</mat-label>
        <input name="title" formControlName="title" id="title" matInput>
      </mat-form-field>
      <mat-form-field class="isFullWidth" appearance="fill">
        <mat-label>Label</mat-label>
        <input name="label" formControlName="label" id="label" matInput>
      </mat-form-field>
      <mat-form-field *ngIf="elementTag=='Input' || elementTag=='Textarea'" class="isFullWidth" appearance="fill">
        <mat-label>Placeholder</mat-label>
        <input name="placeholder" formControlName="placeholder" id="placeholder" matInput>
      </mat-form-field>
      <mat-form-field class="flex-1" appearance="fill">
        <mat-label>Width</mat-label>
        <input name="width" formControlName="width" id="width" matInput>
        <div class="mat_input_desc" matSuffix>px</div>
      </mat-form-field>
      <mat-form-field class="flex-1" appearance="fill">
        <mat-label>Height</mat-label>
        <input name="height" formControlName="height" id="height" matInput>
        <div class="mat_input_desc" matSuffix>px</div>
      </mat-form-field>
      <mat-form-field class="flex-1" appearance="fill">
        <mat-label>Font size</mat-label>
        <input name="fontSize" formControlName="fontSize" id="fontSize" matInput>
        <div class="mat_input_desc" matSuffix>px</div>
      </mat-form-field>
      <mat-form-field class="flex-1" appearance="fill">
        <mat-label>Font Weight</mat-label>
        <mat-select formControlName="fontWeight" id="fontWeight">
          <mat-option value="light">Light</mat-option>
          <mat-option value="400">Normal</mat-option>
          <mat-option value="bold">Bold</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="flex-1" appearance="fill">
        <mat-label>Colour</mat-label>
        <input matInput [ngxMatColorPicker]="pickerColor" formControlName="color">
        <ngx-mat-color-toggle matSuffix [for]="pickerColor"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #pickerColor [touchUi]="touchUi" [color]="colorPick"></ngx-mat-color-picker>
      </mat-form-field>
      <mat-form-field class="flex-1" appearance="fill" *ngIf="elementTag!='Checkbox'">
        <mat-label>Border Colour</mat-label>
        <input matInput [ngxMatColorPicker]="pickerBorderColor" formControlName="borderColor">
        <ngx-mat-color-toggle matSuffix [for]="pickerBorderColor"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #pickerBorderColor [touchUi]="touchUi" [color]="colorPick"></ngx-mat-color-picker>
      </mat-form-field>
      <mat-form-field class="flex-1" appearance="fill" *ngIf="elementTag!='Checkbox'">
        <mat-label>Border type</mat-label>
        <mat-select formControlName="borderStyle" id="borderStyle">
          <mat-option value="dotted">Dotted</mat-option>
          <mat-option value="dashed">Dashed</mat-option>
          <mat-option value="solid">Solid</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="elementTag=='Select'" class="select_options isFullWidth">
        <div
          *ngFor="let option of this.formElementsStyles[this.elementIndex]['options'];let index = index;"
          class="select_option isFlex gap"
        >
          <mat-form-field class="flex-1" appearance="fill" style="pointer-events: none">
            <mat-label>Remove field</mat-label>
            <input value="{{option}}" matInput>
          </mat-form-field>
          <button (click)="removeOption(index)" mat-raised-button color="warn">Remove</button>
        </div>
        <div class="select_option isFlex gap">
          <mat-form-field class="flex-1" appearance="fill">
            <mat-label>Add field</mat-label>
            <input [(ngModel)]="newSelectOptionText" [ngModelOptions]="{standalone: true}" #additionalOption matInput>
          </mat-form-field>
          <button (click)="addOption()" mat-raised-button color="primary">Add</button>
        </div>
      </div>
    </div>
    <div class="form_btns isFlex flex-center" style="gap: 2rem">
      <button (click)="saveFieldStyles()" mat-raised-button color="primary">Apply</button>
      <button mat-raised-button (click)="deleteElement()" color="warn">Delete</button>
    </div>
  </form>
</mat-expansion-panel>
<div class="modal_background" *ngIf="panelOpenState"></div>
