$main_lightblue: #C2D6E1;
$secondary_darkblue: #172933;

.container{
  max-width: 1280px;
  padding: 0 20px;
  margin: auto;
}
nav {
  height: 49px;
  border-bottom: 1px solid $main_lightblue;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  .app_user{
    font-size: 1rem;
    color: $secondary_darkblue;
  }
  .exit_ico{
    cursor: pointer;
    .mat-icon{
      font-size: 28px;
      width: 28px;
      height: 28px;
      color: $main_lightblue;
    }
  }
  .app_title{
    font-size: 36px;
    color: $secondary_darkblue;
  }
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  ul{
    list-style: none;
    display: flex;
    gap: 4rem;
    text-transform: uppercase;
    a{
      color: black;
    }
  }
}

