<div id="app">
  <nav>
    <div class="container">
      <div *ngIf="isLoggedIn" class="">
        Hi, {{username}}
      </div>
      <div class="">
        Form Builder
      </div>
      <div (click)="logout()" *ngIf="isLoggedIn" class="exit_ico">
        <mat-icon>exit_to_app</mat-icon>
      </div>
      <div class="" *ngIf="!isLoggedIn">
        <ul>
          <li>
            <a href="/login" routerLink="login">Login</a>
          </li>
          <li>
            <a href="/register" routerLink="register">Register</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

