<div id="app">
  <nav>
    <div class="container">
      <div *ngIf="checkIfLoggedIn()" class="app_user">
        Hi, <i>{{username | removeQuotationMarks}}</i>
      </div>
      <div class="app_title">
        Form Builder
      </div>
      <div class="navbar_menu">
        <mat-toolbar>
          <div class="flex-stretch"></div>
          <mat-icon class="mr-8">brightness_5</mat-icon>
          <mat-slide-toggle [formControl]="toggleDarkMode" class="mr-8">
          </mat-slide-toggle>
          <mat-icon>bedtime</mat-icon>
        </mat-toolbar>
        <div class="" *ngIf="!checkIfLoggedIn()">
          <ul>
            <li>
              <a href="auth/login" routerLink="auth/login">Login</a>
            </li>
            <li>
              <a href="auth/register" routerLink="auth/register">Register</a>
            </li>
          </ul>
        </div>
        <div *ngIf="checkIfLoggedIn()" class="exit_ico isFlex flex-center">
          <mat-icon (click)="logout()">exit_to_app</mat-icon>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
<div *ngIf="isLoading" class="loader_wrapp">
  <app-loader ></app-loader>
</div>

