.form_wrapp{
  width: 300px;
  margin: 100px auto;
  p{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2.5rem;
  }
  form{
    display: flex;
    flex-direction: column;
    gap: 0
  }
}
