$secondary_darkblue: #172933;

.form_wrapp{
  width: 400px;
  margin: 100px auto;
  p{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2.5rem;
    color: $secondary_darkblue
  }
  form{
    display: flex;
    flex-direction: column;
    gap: 0
  }
}
