.input_group.isFlex{
  flex-wrap: wrap;
  column-gap: 2rem;
  mat-form-field{
    flex: 1;
  }
}
.mat-expansion-panel{
  border-radius: 0 !important;
  box-shadow: none;
}
.mat-expansion-panel-header-description{
  display: flex !important;
  justify-content: flex-end !important;
  margin-right: 0;
}
.mat-expansion-panel-spacing{
  margin: 0;
}
.select_options{
  button{
    width: 95px;
    margin-bottom: 1.34375em;
  }
}
