<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false" [hideToggle]="true" >
  <mat-expansion-panel-header>
    <mat-panel-title>
      Field Styles
    </mat-panel-title>
    <mat-panel-description>
      {{panelOpenState ? 'close' : 'open'}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form (ngSubmit)="outputFieldStyles()" class="active_check {{isActive ? '' : 'is_active_false'}}">
    <div class="input_group isFlex">
      <mat-form-field *ngIf="elementTag=='Checkbox'" class="isFullWidth" appearance="fill">
        <mat-label>Title</mat-label>
        <input name="el_title" [(ngModel)]="form.title" matInput>
      </mat-form-field>
      <mat-form-field class="isFullWidth" appearance="fill">
        <mat-label>Label</mat-label>
        <input name="el_label" [(ngModel)]="form.label" matInput>
      </mat-form-field>
      <mat-form-field *ngIf="elementTag=='Input' || elementTag=='Textarea'" class="isFullWidth" appearance="fill">
        <mat-label>Placeholder</mat-label>
        <input name="el_placeholder" [(ngModel)]="form.placeholder" matInput>
      </mat-form-field>
      <mat-form-field class="flex-1" appearance="fill">
        <mat-label>Width</mat-label>
        <input name="el_width" [(ngModel)]="form.width" matInput>
        <div class="mat_input_desc" matSuffix>px</div>
      </mat-form-field>
      <mat-form-field class="flex-1" appearance="fill">
        <mat-label>Height</mat-label>
        <input name="el_height" [(ngModel)]="form.height" matInput>
        <div class="mat_input_desc" matSuffix>px</div>
      </mat-form-field>
      <mat-form-field class="flex-1" appearance="fill">
        <mat-label>Font size</mat-label>
        <input name="el_fontSize" [(ngModel)]="form.fontSize" matInput>
        <div class="mat_input_desc" matSuffix>px</div>
      </mat-form-field>
      <mat-form-field class="flex-1" appearance="fill">
        <mat-label>Font Weight</mat-label>
        <mat-select name="el_fontWeight" [(ngModel)]="form.fontWeight">
          <mat-option value="light">Light</mat-option>
          <mat-option value="400">Normal</mat-option>
          <mat-option value="bold">Bold</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="flex-1" appearance="fill">
        <mat-label>Colour</mat-label>
        <input name="el_color" [(ngModel)]="form.color" matInput>
        <div class="mat_input_desc" matSuffix>RGB</div>
      </mat-form-field>
      <mat-form-field class="flex-1" appearance="fill" *ngIf="elementTag!='Checkbox'">
        <mat-label>Border Colour</mat-label>
        <input name="el_borderColor" [(ngModel)]="form.borderColor" matInput>
        <div class="mat_input_desc" matSuffix>RGB</div>
      </mat-form-field>
      <mat-form-field class="flex-1" appearance="fill" *ngIf="elementTag!='Checkbox'">
        <mat-label>Border type</mat-label>
        <mat-select name="border_type" [(ngModel)]="form.borderStyle">
          <mat-option value="dotted">Dotted</mat-option>
          <mat-option value="dashed">Dashed</mat-option>
          <mat-option value="solid">Solid</mat-option>
        </mat-select>
      </mat-form-field>

      <div *ngIf="elementTag=='Select'" class="select_options isFullWidth">
        <div
          *ngFor="let option of fieldsStyles[elementIndex].options;let index = index;"
          class="select_option isFlex"
        >
          <mat-form-field class="flex-1" appearance="fill" style="pointer-events: none">
            <mat-label>Remove field</mat-label>
            <input value="{{option}}" matInput>
          </mat-form-field>
          <button (click)="removeOption(index)" mat-raised-button color="warn">Remove</button>
        </div>
        <div class="select_option isFlex">
          <mat-form-field class="flex-1" appearance="fill">
            <mat-label>Add field</mat-label>
            <input [(ngModel)]="addOptionText" [ngModelOptions]="{standalone: true}" #additionalOption matInput>
          </mat-form-field>
          <button (click)="addOption()" mat-raised-button color="primary">Add</button>
        </div>
      </div>
    </div>
    <div class="form_btns isFlex flex-center" style="gap: 2rem">
      <button type="submit" mat-raised-button color="primary">Apply</button>
      <button mat-raised-button (click)="sendDeleteCall()" color="warn">Delete</button>
    </div>
  </form>
</mat-expansion-panel>
