.form_template__element{
  padding: 1rem 1rem;
  input[type="text"], select, textarea, button{
    display: block;
  }
  textarea{
    resize: none;
  }
  &.active{
    background: rgba(161, 157, 143, 0.63);
  }
}
