
<div *ngFor="let element of formTemplateElements; let index = index" (click)="getFormElementIndex($event)" class="form_template__element" [attr.data-index]="index" cdkDrag>
  <button [attr.data-index]="index" class="isFullWidth" *ngIf="element === 'Button'">Button</button>
  <textarea [attr.data-index]="index" class="isFullWidth" *ngIf="element === 'Textarea'" placeholder="Your textarea"></textarea>
  <input [attr.data-index]="index" class="isFullWidth" *ngIf="element === 'Input'" placeholder="Your input">
  <select [attr.data-index]="index" class="isFullWidth" *ngIf="element === 'Select'">
    <option value="">Option 1</option>
    <option value="">Option 2</option>
  </select>
  <input [attr.data-index]="index" type="checkbox" *ngIf="element === 'Checkbox'">
</div>
