.form_element{
  padding: 1rem 1.2rem;
  border-bottom: 2px solid #c2d6e1;
  cursor: move;
  background: white;
  height: 60px;
  display: flex;
  align-items: center;
  &:last-child{
    border-bottom: none;
  }
}
.block_choose__open{
  display: none;
}
@media (max-width: 620px) {
  .block_choose{
    position: fixed;
    border: 2px solid #c2d6e1;
    border-radius: 5px;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateX(100%);
    -webkit-box-shadow: 0px 0px 12px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 12px -1px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 12px -1px rgba(66, 68, 90, 1);
    transition: all 0.5s ease;
    &.activeOnSmall{
      transform: translateY(-50%) translateX(0%);
    }
    .block_choose__open{
      position: absolute;
      background: white;
      top: 50%;
      left: 0;
      height: 40px;
      width: 30px;
      transform: translateY(-50%) translateX(-100%);
      border: 2px solid #c2d6e1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      cursor: pointer;
      mat-icon{
        transform: rotate(180deg);
        transition: transform 0.2s ease;
        color: #172933;
      }
    }
    &.activeOnSmall .block_choose__open mat-icon{
      transform: rotate(0);
    }
  }
}
