<div class="form_wrapp">
  <p>Registration Form</p>
  <form *ngIf="!(isLoggedIn$ | async)"
    name="form" (ngSubmit)="f.form.valid && onSubmitRegister()" #f="ngForm" [formGroup]="form" novalidate
  >
    <mat-form-field appearance="fill">
      <mat-label>Username</mat-label>
      <input name="username" formControlName="username" required matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input name="password" type="password" formControlName="password" #password required passwordStrength matInput>
      <mat-error *ngIf="!form.valid">
        Your password must have lower case, upper case and numeric character.
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" [disabled]="!f.form.valid">Sign Up</button>
  </form>

</div>
